.portada {    
    background-image: url("https://i.ibb.co/QK9N2rn/portada.png");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.item {
    margin: 20px;
    margin-left: 40px;
    width: 50%;
}

.tituloPortada{    
    font-size: 50px;
    color: #FFF;
}

.subtituloPortada{
    font-size: 25px;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 15px;
}

.vermas{
    font-size: 20px;
    margin: 10px;
    padding: 25px 15px;
    background: var(--azul-inicio);
    color: #FFF;
    border-radius: 40px;
    width: 30vh;
    text-align: center;
}

@media (max-width: 600px) {
    .tituloPortada{
        font-size: 30px;    
    }
    .subtituloPortada{
        font-size: 18px;        
    }
}
.whatContainer {
    width: 100%;
    padding: 70px;
    background: #F6F6F6;
}
.whatContainer > p {
    font-size: 30px;
    font-weight: 800;
    color: var(--gris-titulo);
}

.itemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.itemI {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 400px;
}
.itemI > img {
    width: 200px;
    height: 170px;
    margin: 30px;
}
.itemI > p {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}
