@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    /*Lista de variables a usar en código*/
    --color-primary: #D9D9D9;
    --gris-letra: #9F9C9C;
    --gris-titulo: #555555;
    --azul-inicio: #2D68C1;
    --verde-inicio: #39C12D;
    --rojo-inicio: #C1362D;
}
body {
    color: #000;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #EEE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #BBB;
    border-radius: 10px;
}